 <div class="container">

  <div class="text-center">
<img src="/slide/red3.png" style="width:18%; align: center">
</div>
    <h1 class="text-center">Location and Title</h1>
    
    <br/>
   

<%= form_for @listing do |f| %>

            <div class ="row">
                            <div class="form-group">
                            <%# <h3><label>Where is your property located?<label></h3> %>
                                <%= f.select :address_city, [["New Cloud City", "New Cloud City"], ["Upper West Dome City", "Upper West Dome City"], ["Mars Space Station", "Mars Space Station"], ["First Settlers Colony", "First Settlers Colony"], ["Rural", "Rural"]],
                                    id: "address_city", prompt: "What city is your property located? Please Select . . .", class: "form-control" %>
                            </div>  
                       <div class="form-group">
        <%# <h3><label>Listing Title<label></h3> %>
        <%= f.text_field :title, placeholder: "Enter a listing title, eg. 'Great Family Pod located just outside the First Settlers Colony!'", class: "form-control", required: true %>
        </div>
    </div>
<br/>
                  
                    <div class="text-center">
<%= f.submit "Next", class: "btn btn-form" %>

                   <% end %>
<br/>
                </div>
               