<div class="row">
    <div class="col-md-2">
        <div class="sidebar-list">
                        <div class="sidebar-link" >
                            <li class="btn btn-squared-default-plain btn-warning" active>
                            <i class="fa fa-info-circle fa-5x"></i>
                        <br/>
                        <br/>Info</li>         
                        </div>

                            <div class="sidebar-link-disabled" >
                            <li class="btn btn-squared-default-plain btn-warning" disabled>
                            <i class="fa fa-home fa-5x"></i>
                            <br/>
                            <br/>Address</li> 
                            </div>
                         <div class="sidebar-link-disabled" >
                            <li class="btn btn-squared-default-plain btn-warning" disabled>
                            <i class="fa fa-bed fa-5x"></i>
                            <br/>
                            <br/>Details</li> 
                            </div>
                             <div class="sidebar-link-disabled" >
                             <li class="btn btn-squared-default-plain btn-warning" disabled>
                            <i class="fa fa-money fa-5x"></i>
                            <br/>
                            <br/>Price</li> 
                            </div>
                            <div class="sidebar-link-disabled" >
                            <li class="btn btn-squared-default-plain btn-warning" disabled>
                            <i class="fa fa-image fa-5x"></i>
                            <br/>
                            <br/>Photos</li> 
                            </div>
                             <div class="sidebar-link-disabled" >
                            <li class="btn btn-squared-default-plain btn-info" disabled>
                            <i class="fa fa-image fa-5x"></i>
                            <br/>
                            <br/>Submit</li> 
                            </div>               
                </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <h1 class="text-center">Tell us about your property</h1>
            <div class="panel-body">
                <%= form_for @listing do |f| %>
                    <div class="form-group">
                        <h3><label>Listing Title</label></h3>
                        <%= f.text_field :title, placeholder: "Enter a listing title, eg. 'Great Family Pod located just outside the First Settlers Colony!'", class: "form-control", required: true %>
                    </div>
                <div class="form-group">
                    <h3><label>Description</label></h3>
                    <%= f.text_area :description, rows: 5, placeholder: "Tell us about your listing.", class: "form-control", required: true %>
                </div>
                <br/>
                <div class="form-group">
                    <%= f.submit "Save", class: "btn btn-form btn-block" %>
                    <% end %>
                </div>
            </div> 
        </div>        
    </div>
</div>