<div class="row">
    <div class="col-md-4">
        <div class="panel-default-home">
            <p id="address-large">View all listings</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-default-home">
            <p id="address-large">Your listings</p>
        </div>
    </div>
        <div class="col-md-4">
        <div class="panel-default-home">
            <p id="address-large">Your Purchases</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel-default-home">
            <p id="address-large">Your Sold Listings</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-default-home">
            <p id="address-large">Create New Listing</p>
        </div>
    </div>
        <div class="col-md-4">
        <div class="panel-default-home">
            <p id="address-large">Edit Your Profile</p>
        </div>
    </div>
</div>
