
<footer class="navbar-default navbar-fixed-bottom my_footer">
  <div class="container-fluid">
    <span>
<!-- Footer -->
<footer class="page-footer font-small blue" style="">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="mailto: the_top_hat@mars_monopoly.com">© 2020 Copyright MARSmonopoly Inc.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    </span>
  </div>
</footer>