/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "toastr";

html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #565a5c;
    // background-color: #F8F8F8;
    background-image: url(/slide/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Comfortaa', cursive;
    padding-bottom: 40px;
}

img {
    max-width: 100%;
    max-height: 100%;
    // display: block;
}

a {
    color: #00a699;
}

h3 {
    color: #565a5c;
}



.container {
    width: 90%;
    min-height: 100%;
}

.content-inside {
    // padding: 20px;
    padding-bottom: 50px;
}

.text-babu, .icon-babu {
    color: #00a699;
}

// navigation

.navbar-default {
    // background-color:  rgb(64, 0, 128);
    background-color: transparent;
    opacity: 0.6;
}

.navbar-default:hover {
    // background-color:  rgb(64, 0, 128);
    background-color: transparent;
    opacity: 1.0;
}

.navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1.2em;
}

.navber-default .navbar-brand {
    color: white;
    font-size: 2em;
    font-weight: 400;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #00a699;
    font-weight: 500;
    font-size: 1.2em;
    background-color: transparent;
}


element.style {
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:  white;
    font-weight: 800;
    background-color: #5900b3;
    
}

.nav_logo {
    margin-top: -1.4%
 }

 .dropdown-menu > li > a {
    font-size: 1.2em;
    opacity: 1.0;
 }
 
// buttons

.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}

.btn {
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 9px 27px;
}

.btn-small {
    padding: 5px 15px;
    margin-top: 15px;
}

.btn:hover, .btn:focus {
    color: #fff;
}

.btn.btn-default {
    width: 100%;
    border-color: #c4c4c4;
    background: white;
    color: #484848;
    border-radius: 2px;
    padding: 10px 0;
    margin-top: 10px;
}

.btn.btn-default_selected {
    width: 100%;
    border-color: #484848;
    background: #484848;
    color: white;
    border-radius: 2px;
    padding: 10px 0;
    margin-top: 10px;
}

.btn.btn-normal {
    border: 1px solid #ff5a5f;
    background-color: #ff5a5f;
}

.btn.btn-normal:active {
    outline: none;
    border-color: #e00007;
    background-color: #e00007;
}

.btn.btn-form {
    border: 1px solid #00a699;
    background-color: #00a699;
}

.btn.btn-form-view {
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 15px;
    border: 5px solid dodgerblue;
    box-shadow: 2px 2px 4px #000000;
}

.btn.btn-form-edit {
    border: 1px solid green;
    background-color: green;
    border-radius: 15px;
    border: 5px solid green;
    box-shadow: 2px 2px 4px #000000;
}

.btn.btn-form-delete {
    border: 1px solid #a62700;
    background-color: #a62700;
    border-radius: 15px;
    border: 5px solid #a62700;
    box-shadow: 2px 2px 4px #000000;
}

.btn.btn-form:active {
    outline: none;
    border-color: #066165;
    background-color: #066165;
}

.btn.btn-facebook {
    border: 1px solid #3b5998;
    background-color: #3b5998;
}

.btn.btn-facebook:active {
    outline: none;
    border-color: #2d467b;
    background-color: #2d467b;
}

.btn-squared-default {
    width: 200px;
    height: 200px;
    font-size: 20px;
    background-color: whitesmoke ;
    border-color: 10px solid whitesmoke;
    color: #484848;
}

.btn-squared-default:hover {
        font-weight: 800;
        color: black;
    }

.btn-squared-default-plain {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;

}

.btn-squared-default-plain:hover {
        border: 0px solid white;
    }

.btn-photo-remove-default {
        width: 100%;
        height: 100%;
        font-size: 10px;
        border-color: #ccc;
        color: black;
    }
#li-white {
        color: whitesmoke;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    
    }
.btn-listing {
        width: auto;
        height: 70px;
        font-size: 20px;
        background-color: green ;
        border-color: 20px solid whitesmoke;
        color: whitesmoke;
        border-radius: 25px;
    }
// footer

.my_footer {
     height: 30px;
     margin-top: -50px;
    background: transparent;
    opacity: 0.6;
    font-size: 1.2em;
  line-height: 2em;  
 }

 .my_footer:hover {
    height: 30px;
    margin-top: -50px;
   background: transparent;
   opacity: 1.0;
 line-height: 2em;  
}

.my_footer a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

// panels

.panel-default {
    background: none;
    border: none;
}

.panel-default-photo {
    background-color: #fff;
    border: 10px solid #fff; 
}

.panel-default-search {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 25px;
    border: 20px solid white;
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: 2px 2px 4px #000000;;
}

.panel-default .panel-heading {
    color: #484848;
    background: none;
    font-size: 18px;
    font-weight: 400;
}


.row-space-1 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.row-space-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.row-space-3 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.description {
    color: #575757;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

// users avatar

.avatar_small {
    width: 30px;
}

.avatar_medium {
    width: 48px;
}

.avatar_large {
    width: 68px;
}

.avatar_full {
    width: 100%;
}

// forms
.form-group {
    margin-bottom: 25px;
}

.form-control {
    border-radius: 2px;
    height: 4rem;
}

.form-group input {
    height: 45px;
    border: 1px solid #00a699;
}

.form-group textarea {
    border: 1px solid #00a699;
}

.form-group select {
    width: 100%;
    color: #565a5c;
    background-color: white;
    border: 1px solid #00a699;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select:before {
    content: '\25bc';
    font-size: 1.2em;
    position: absolute;
    color: #00a699;
    top: 35px;
    right: 30px;
    transform: scale(0.94, 0.62);
}

.form-group input[type="checkbox"] {
    height: 1.6em;
    width: 1.6em;
    margin-right: 5px;
    vertical-align: top;
    border: 1px solid #565a5c;
    border-radius: 2px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-group input[type="checkbox"]:checked:before {
    content: '\2713';
    position: absolute;
    font-size: 1.2em;
    text-align: center;
    width: 1.5em;
    color:#565a5c;
}

// sidebar
.sidebar-list {
    padding-left: 0;
    list-style: none;
}

.sidebar-item {
    padding: 10px 0;
    font-size: 16px;
    color: #82888a;
}

.sidebar-link {
    color: #82888a;
    text-decoration: none;
    margin-top: 6px;
    margin-bottom: 6px;
}

.sidebar-link i, li {
    color: whitesmoke;
    text-decoration: none;

}

.sidebar-link:hover, .sidebar-link:focus {
    color: #cacccd;
    text-decoration: none;
}

.active.sidebar-link {
    color: #565a5c;
    font-weight: bold;
    text-decoration: none;
}

.sidebar-link-disabled {
    color: #82888a;
    text-decoration: none;
    margin-top: 6px;
    margin-bottom: 6px;
    opacity: 60%;
}

// photo upload panel

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(ocacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-heading.preview {
    padding: 0;
}

.panel-heading.preview img {
    width: 100%;
}

.image_list_thumb {
    width: 100px;
}

// carousel

h4 {

}
p {

}


#carousel-custom {
    margin: 20px auto;
    width: 700px;
    height: 410px;
    box-shadow: 2px 2px 4px #000000;
    margin-left: -30px;
}

#carousel-custom-thumb {
    margin: 20px auto;
    width: 600px;
    height: 50px
}

#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    width: 100px;
    height: 50px;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}

.carousel-inner .item img {
    width: 700px;
    height: 410px;
}

// view listing

.top-description {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 25px;
    border: 20px solid white;
    box-shadow: 2px 2px 4px #000000;

    margin-bottom: 6px;
}

.top-description-highlight {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 25px;
    border: 20px solid white;
    box-shadow: 2px 2px 4px #000000;;

    margin-bottom: 6px;

}

.mid-description {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 25px;
    border: 20px solid white;
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: 2px 2px 4px #000000;;

}

.mid-description-profile {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 25px;
    border: 20px solid white;
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: 2px 2px 4px #000000;;

}

.top-description p {
    font-size: 26px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;    
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

#price-large {
    text-align: center;
    font-size: 4.3vw;
    font-weight: 800;
}

#created-at-med {
    text-align: center;
    font-size: 1.7vw;
}

#search-med {
    font-size: 1.7vw;
}

#address-large {
    text-align: center;
    font-size: 2.2vw;
}

#listing-title-large {
    text-align: center;
    font-size: 3.5vw;
    font-weight: 800;
}

#button-listing {
    text-align: center;
    font-size: 2.8vw;
    box-shadow: 2px 2px 4px #000000;

}



#listing-features-icon {
    text-align: center;
    
}

#listing-icon-container {
    max-height: 120px;
    max-width: 120px;
    text-align: center;
    align-content: center;
    font-weight: 900;
}

.panel-default-home {
    width: 100%;
    height: 240px;
    background-color: white;
    border-radius: 25px;
    border: 20px solid white;
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: 2px 2px 4px #000000;;

}