<% if @photos.count > 0 %>
<br/><br/>
<div class="row">
<% @photos.each do |photo| %>
    <div class="col-md-4">
        <div class="panel panel-default-photo">
            <div class="panel-heading preview">
                <%= image_tag photo.image.url() %>
            </div>
            <div class="panel-body">
                <div class="btn btn-photo-remove-default btn-danger">
                    <%= link_to listing_photo_path(photo.listing_id, photo), remote: true, method: :delete, data: {confirm: "Are you sure?"} do %>
  
                        <i class="fa fa-trash-o x1" id="li-white" aria-hidden="true"> DELETE</i>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
   <% end %>
</div>
<% end %>